# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"

# Auth
JWT_SECRET="secreto-supersecreto_asi_de_screto_o_no_veas_esto"

# Frontend allowed origin
CORS_ORIGIN="http://localhost:3000"
